.board {
  &-column {
    @include flex(column, flex-start, center, 1 1 0);
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    
    &__header {
      margin-bottom: 25px;
      @include font($Exo2, $dark-grey, 1.5rem);
    }

    &__items {
      @include flex(column, flex-start, center);
      width: 100%;
      overflow-y: scroll;
      padding: 5px 0;

      &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #CDCDCD;
        border: none;
        border-radius: 10px;
      }
    }
  };
}