@font-face {
  font-family: 'Exo 2';
  src: url('../../fonts/Exo2-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../../fonts/Exo2-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../../fonts/Exo2-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}